{% extends "base.html" %}
{% block sub_banner %}
<img src="{{ url_for('static', filename='images/section_background_3.jpg') }}" class="card-img opacity-25" style="height: 30px; object-fit: cover;">
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card bg-transparent border-0">
            <div class="card-body">
                <h1 class="card-title text-center mb-4">
                    Add Record for {{ member.name }}
                </h1>
                <form method="POST">
                    <div class="mb-4">
                        <label class="form-label d-flex flex-column text-center align-items-center">Select Stool Type, based on the Bristol Stool Scale below, the date, time and press "Save Record" </label>
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type1" value="1 - Separate hard lumps" required>
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type1">
                                        <h4>Type 1</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_1.png') }}" alt="Type 1">
                                        <br>
                                        Separate hard lumps
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type2" value="2 - Lumpy and sausage-like">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type2">
                                        <h4>Type 2</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_2.png') }}" alt="Type 2">
                                        <br>
                                        Lumpy and sausage-like
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type3" value="3 - Sausage with cracks">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type3">
                                        <h4>Type 3</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_3.png') }}" alt="Type 3">
                                        <br>
                                        Sausage with cracks
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type4" value="4 - Smooth and soft">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type4">
                                        <h4>Type 4</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_4.png') }}" alt="Type 4">
                                        <br>
                                        Smooth and soft
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type5" value="5 - Soft blobs">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type5">
                                        <h4>Type 5</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_5.png') }}" alt="Type 5">
                                        <br>
                                        Soft blobs
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type6" value="6 - Mushy consistency">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type6">
                                        <h4>Type 6</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_6.png') }}" alt="Type 6">
                                        <br>
                                        Mushy consistency
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check card p-3 border-0 h-100">
                                    <input class="form-check-input" type="radio" name="poop_type"
                                           id="type7" value="7 - Entirely liquid">
                                    <label class="form-check-label d-flex flex-column align-items-center" for="type7">
                                        <h4>Type 7</h4>
                                        <img class="responsive-img" style="height: 70px;" src="{{ url_for('static', filename='images/type_7.png') }}" alt="Type 7">
                                        <br>
                                        Entirely liquid
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required value="{{ now.strftime('%Y-%m-%d') }}">
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Time</label>
                         <input type="time" class="form-control" id="time" name="time" required value="{{ now.strftime('%H:%M') }}">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Save Record</button>
                        <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
